{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    {# Automatically load custom CSS #}
    <link rel="stylesheet" href="{% static 'jazzmin_customizations/custom.css' %}">
    
    {# Load RTL CSS for RTL languages #}
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE in RTL_LANGUAGES %}
        <link rel="stylesheet" href="{% static 'admin/css/rtl_admin.css' %}">
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {# Automatically load custom JS for sidebar search #}
    <script src="{% static 'jazzmin_customizations/custom.js' %}"></script>
    
    {# Set RTL direction for RTL languages #}
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE in RTL_LANGUAGES %}
        <script>
            document.documentElement.setAttribute('dir', 'rtl');
        </script>
    {% endif %}
{% endblock %}

